* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    padding: 20px 80px 20px 80px;
    width: 100%;
    font-weight: 600;
    color: gray;
    /* background-color: aqua; */
}

.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
    padding: 10px 30px 30px 50px;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.navbar ul li {
    margin-top: 10px;
}

.login {
    display: flex;
    gap: 30px;
    margin-top: 10px;
}

.login a {
    text-decoration: none;
    margin-top: 5px;
}

.login button {
    padding: 7px 18px 7px 18px;
    background-color: hsl(180, 66%, 49%);
    color: #fff;
    border-radius: 15px;
    border: none;
}

section {
    /* margin: 0px 30px 0px 30px;
    padding: 0px 40px 0px 40px; */
}

.main {

    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Two equal columns */
    grid-gap: 20px;
}

.item {
    padding: 20px;
    /* border: 1px solid #ccc; */
}

.item img {
    max-width: 100%;
}

.content {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding: 20px 80px 50px 60px;
}

.content button {
    margin-top: 20px;
    padding: 10px;
    border: none;
    background-color: hsl(180, 66%, 49%);
    width: 40%;
    border-radius: 15px;
    color: #fff;
}

.content h1 {
    font-size: 40px;
    font-weight: 800;
}

.url-content {
    margin: 10px 80px;
}

.input-box {
    top: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    padding: 30px;
    background-color: #4d4d4d;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 10px;
}

.input-box input {
    width: 90%;
    padding: 13px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-right: 13px;
}

.input-box button {
    width: 100px;
    padding: 14px 12px;
    border: none;
    border-radius: 5px;
    background-color: hsl(180, 66%, 49%);
}

.short-links{
    background-color: #fff;
    border-radius: 5px;
    margin: 40px 40px;
}
.link-container{
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    /* margin: 40px 40px; */
    align-items: center;
}

.short-links input{
    overflow: scroll;
    border: none;
    width: 400px;
    outline: none;
}
.short-part{
    display: flex;
    gap: 30px;
}
.short-part button{
    padding: 5px;
    border: none;
    background-color: hsl(180, 66%, 49%);
    border-radius: 5px;
}

.line {
    bottom: -390px;
    position: relative;
    width: 90%;
    margin-left: 30px;
    height: 7px;
    background-color: hsl(180, 66%, 49%);
}

.card-1 {
    grid-area: myArea;
}

.container {
    background-color: hsl(0, 0%, 75%);
    height: 90vh;
}

.card-content {
    display: grid;
    grid-template-areas: 'myArea myArea myArea myArea';
    grid-gap: 10px;
    padding: 10px;
}

.card-content>div {
    text-align: center;
    padding: 0px 30px 30px 30px;
    text-align: start;
    font-size: 16px;
}

.card {
    position: relative;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin: -10px auto;
}

.card-3 {
    top: 30px;
}

.card-4 {
    top: 60px;
}

.top-content {
    margin-top: 20px;
    width: 100%;
    padding: 40px;
    text-align: center;
}

.icon img {
    /* z-index: 1000; */
    position: relative;
    bottom: 33px;
    background-color: hsl(260, 8%, 14%);
    padding: 12px;
    width: 70px;
    border-radius: 50px;
}

.link-today {
    background-image: url(images/bg-shorten-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 50px;
}

.link-today button {
    margin-top: 20px;
    padding: 10px 30px;
    border: none;
    color: #fff;
    border-radius: 15px;
    background-color: hsl(180, 66%, 49%);
}

.footer {
    color: #fff;
    background-color: hsl(255, 11%, 22%);
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.footer ul {
    list-style: none;
}

.foot-logo img {
    margin-right: 80px;
    margin-bottom: 80px;
}

.footer-menu {
    display: flex;
    column-gap: 6rem;
    line-height: 24px;
}

.social-icon ul {
    display: flex;
    gap: 15px;
}